In [12]:
import pandas as pd
import requests
import urllib.parse
import urllib.request
import sqlite3
from urllib.request import urlopen
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
# define the header
# write your own header here
# get your header at "chrome://version"
headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'}
# create engine
engine = create_engine('sqlite:///../../dataset/us/us_ticker_eps_annual.db')
# create database connection
database = '../../dataset/us/us_ticker_eps_annual.db'
conn = sqlite3.connect(database)
print('sql connect success!')
# import the list
ticker_list = pd.read_csv('ticker_list_with_name.csv')

sql connect success!

In [13]:
# html_data = requests.get('https://www.macrotrends.net/stocks/charts/{}/{}/pe-ratio'.format(ticker_symbol_list[i], ticker_name_list[i]),headers=headers)
html_data = requests.get('https://www.macrotrends.net/stocks/charts/GOOG/alphabet/pe-ratio',headers =headers) 
soup = BeautifulSoup(html_data.text, 'lxml')
target_table = soup.find_all('table')
# # Annual
target_table_01 = target_table[0]
# ticker_pe = pd.DataFrame(columns=['datetime','pe_ratio'])
# # # ------------------------------- # 
# # #        get pe-ratio
# # # ------------------------------- #
# for row in target_table_01.find_all('tr'):
#         col = row.find_all('td')
#         len_col = len(col)
#         if len_col == 4:
#                 date = col[0].text
#                 pe = col[3].text
#                 temp = pd.DataFrame([[date, ttm, se, pe]],columns=['datetime','ttm',"shareholder'sEquity",'pe'])
#                 ticker_pe = pd.concat([ticker_pe,temp],ignore_index=True)
#         ticker_pe.pe_ratio = ticker_pe.pe_ratio.astype(float)
#         ticker_pe.to_sql('{}'.format(ticker_symbol_list[i]), con=annual_engine, if_exists='replace',index=None)

In [8]:
ticker_pe

      datetime    ttm shareholder'sEquity    roe
0   2022-06-30  72.02              255.42  28.65
1   2022-03-31  74.54              254.00  30.18
2   2021-12-31  76.03              251.64  31.56
3   2021-09-30  70.62              244.57  30.22
4   2021-06-30  62.93              237.57  27.87
5   2021-03-31  51.36              230.01  23.54
6   2020-12-31  40.27              222.54  19.03
7   2020-09-30  35.71              212.92  17.31
8   2020-06-30  31.53              207.32  15.62
9   2020-03-31  34.52              203.66  17.43
10  2019-12-31  34.34              201.44  17.79
11  2019-09-30  32.62              194.97  17.44
12  2019-06-30  34.74              192.19  19.22
13  2019-03-31  27.99              183.47  16.16
14  2018-12-31  30.74              177.63  18.34
15  2018-09-30  18.77              169.84  11.64
16  2018-06-30  16.31              162.00  10.31
17  2018-03-31  16.64              160.83  10.76
18  2017-12-31  12.66              152.50   8.40
19  2017-09-30  21.02              157.10  14.26
20  2017-06-30  19.34              148.29  13.66
21  2017-03-31  20.70              144.95  15.16
22  2016-12-31  19.48              139.04  14.85
23  2016-09-30  19.07              134.10  15.08
24  2016-06-30  17.99              127.88  14.74
25  2016-03-31  16.52              123.57  14.00
26  2015-12-31  15.83              120.33  13.86
27  2015-09-30  15.50              116.24  14.08
28  2015-06-30  14.26              111.78  13.48
29  2015-03-31  14.20              108.45  13.96
30  2014-12-31  14.14              103.86  14.49
31  2014-09-30  12.73               98.82  13.63
32  2014-06-30  12.96               95.75  14.49
33  2014-03-31  12.84               91.71  15.07
34  2013-12-31  12.73               87.31  15.69
35  2013-09-30  12.43               82.99  16.09
36  2013-06-30  11.64               78.85  15.83
37  2013-03-31  11.19               75.47  15.99
38  2012-12-31  10.74               71.72  16.14
39  2012-09-30  10.56               68.03  16.72
40  2012-06-30  11.11               64.72  18.56
41  2012-03-31  10.83               61.71  19.11
42  2011-12-31   9.74               58.15  18.22
43  2011-09-30   9.58               54.83  18.97
44  2011-06-30   9.01               51.99  18.94
45  2011-03-31   8.35               48.85  18.66
46  2010-12-31   8.51               46.24  20.20
47  2010-09-30   7.94               43.29  20.06
48  2010-06-30   7.41               40.61  19.94
49  2010-03-31   7.05               38.28  20.21
50  2009-12-31   6.52               36.00  19.88