In [1]:
import baostock as bs 
import pandas as pd

In [2]:
lg = bs.login()

login success!

In [3]:
rs = bs.query_history_k_data_plus("sh.600000",
    "date,time,code,open,high,low,close,volume,amount,adjustflag",
    start_date='2017-07-01', end_date='2017-07-31',
    frequency="5", adjustflag="3")

[WinError 10060] 由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败。
接收数据异常，请稍后再试。

In [4]:
rs.

In [6]:
import baostock as bs
import pandas as pd

# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取中证500成分股
rs = bs.query_zz500_stocks()
print('query_zz500 error_code:'+rs.error_code)
print('query_zz500  error_msg:'+rs.error_msg)

# 打印结果集
zz500_stocks = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    zz500_stocks.append(rs.get_row_data())
result = pd.DataFrame(zz500_stocks, columns=rs.fields)
# 结果集输出到csv文件
result.to_csv("zz500_stocks.csv", encoding="gbk", index=False)


# 登出系统
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_zz500 error_code:0
query_zz500  error_msg:success
     updateDate       code code_name
0    2022-06-13  sh.600006      东风汽车
1    2022-06-13  sh.600008      首创环保
2    2022-06-13  sh.600021      上海电力
3    2022-06-13  sh.600022      山东钢铁
4    2022-06-13  sh.600026      中远海能
..          ...        ...       ...
495  2022-06-13  sz.300741      华宝股份
496  2022-06-13  sz.300769      德方纳米
497  2022-06-13  sz.300832       新产业
498  2022-06-13  sz.300869      康泰医学
499  2022-06-13  sz.300888      稳健医疗

[500 rows x 3 columns]
logout success!

In [20]:
import baostock as bs
import pandas as pd

#### 登陆系统 ####
lg = bs.login()

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。“分钟线”不包含指数。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
rs = bs.query_history_k_data_plus("sh.600000",
    "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST",
    frequency="d", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

#### 打印结果集 ####
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

#### 结果集输出到csv文件 ####   
result.to_csv("D:\\history_A_stock_k_data.csv", index=False)
result

#### 登出系统 ####
bs.logout()

login success!
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success
logout success!

In [21]:
result

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2015-01-05,sh.600000,15.8800,16.2500,15.5600,16.0700,15.6900,513568704,8182820864.0000,3,3.441509,1,2.421900,0
1,2015-01-06,sh.600000,16.0000,16.6800,15.8200,16.1300,16.0700,511684528,8311084800.0000,3,3.428883,1,0.373400,0
2,2015-01-07,sh.600000,15.9000,16.1700,15.5300,15.8100,16.1300,385716816,6114241024.0000,3,2.584752,1,-1.983900,0
3,2015-01-08,sh.600000,15.8700,15.8800,15.2000,15.2500,15.8100,330627168,5101310720.0000,3,2.215587,1,-3.542100,0
4,2015-01-09,sh.600000,15.2000,16.2500,15.1100,15.4300,15.2500,491999936,7692348672.0000,3,3.296973,1,1.180300,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1826,2022-07-07,sh.600000,7.8800,7.9200,7.8600,7.8700,7.9000,18636395,147034169.9300,3,0.063500,1,-0.379700,0
1827,2022-07-08,sh.600000,7.9000,7.9000,7.8700,7.8800,7.8700,12379190,97665056.8800,3,0.042200,1,0.127100,0
1828,2022-07-11,sh.600000,7.8700,7.9000,7.8600,7.8700,7.8800,16195472,127636556.9700,3,0.055200,1,-0.126900,0
1829,2022-07-12,sh.600000,7.8600,7.9400,7.8600,7.9100,7.8700,19889798,157433751.9200,3,0.067800,1,0.508300,0
1830,2022-07-13,sh.600000,7.9300,7.9400,7.8500,7.8500,7.9100,30506523,240374854.3500,3,0.103900,1,-0.758500,0