In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
name_engine = create_engine('sqlite:///../../dataset/us/us_ticker_list_with_name.db')
eps_engine = create_engine('sqlite:///../../dataset/us/us_ticker_eps_quarter.db')
rev_engine = create_engine('sqlite:///../../dataset/us/us_ticker_revenue_mac.db')
npm_engine = create_engine('sqlite:///../../dataset/us/us_ticker_npm.db')
target_engine = create_engine('sqlite:///../../dataset/us/us_ticker_fundamental.db')

In [ ]:
name_df = pd.read_sql('TOTAL', con=name_engine)
name_list = name_df.Symbol.to_list()
eps_list = []
rev_list = []
npm_list = []
for ticker in name_list:
    try:
        eps_df = pd.read_sql('{}'.format(ticker),con=eps_engine)
        if eps_df.empty == True:
            pass
        else:
            eps_df.rename(columns={'eps':'value'},inplace=True)
            eps_df.to_sql('{}-eps'.format(ticker),if_exists='replace',index=None,con=target_engine)
            eps_list.append(ticker)
    except:
        pass
    try:
        revenue_df = pd.read_sql('{}-Quarter'.format(ticker),con=rev_engine)
        if revenue_df.empty == True:
            pass
        else:
            revenue_df.rename(columns={'revenue':'value'},inplace=True)
            revenue_df.to_sql('{}-rev'.format(ticker),if_exists='replace',index=None,con=target_engine)
            rev_list.append(ticker)
    except:
        pass
    try:
        npm_df = pd.read_sql('{}'.format(ticker),con=npm_engine)
        if npm_df.empty == True:
            pass
        else:
            npm_df.rename(columns={'net_profit_margin':'value'},inplace=True)
            npm_df.to_sql('{}-npm'.format(ticker),if_exists='replace',index=None,con=target_engine)
            npm_list.append(ticker)
    except:
        pass

In [ ]:
eps_df = pd.DataFrame(eps_list)
rev_df = pd.DataFrame(rev_list)
npm_df = pd.DataFrame(npm_list)
eps_df.to_csv('eps_df.csv',index=None)
rev_df.to_csv('rev_df.csv',index=None)
npm_df.to_csv('npm_df.csv',index=None)

In [5]:
eps_df = pd.read_sql('{}'.format('AAPL'),con=eps_engine)
# eps_df.to_sql('{}-eps'.format(ticker),if_exists='replace',index=None,con=target_engine)
eps_df.rename(columns={'eps':'value'},inplace=True)
eps_df

      datetime  value
0   2022-06-30   1.20
1   2022-03-31   1.52
2   2021-12-31   2.10
3   2021-09-30   1.23
4   2021-06-30   1.30
5   2021-03-31   1.40
6   2020-12-31   1.68
7   2020-09-30   0.74
8   2020-06-30   0.65
9   2020-03-31   0.64
10  2019-12-31   1.25
11  2019-09-30   0.77
12  2019-06-30   0.55
13  2019-03-31   0.62
14  2018-12-31   1.05
15  2018-09-30   0.74
16  2018-06-30   0.59
17  2018-03-31   0.68
18  2017-12-31   0.97
19  2017-09-30   0.52
20  2017-06-30   0.42
21  2017-03-31   0.53
22  2016-12-31   0.84
23  2016-09-30   0.43
24  2016-06-30   0.36
25  2016-03-31   0.48
26  2015-12-31   0.82
27  2015-09-30   0.50
28  2015-06-30   0.46
29  2015-03-31   0.58
30  2014-12-31   0.77
31  2014-09-30   0.36
32  2014-06-30   0.32
33  2014-03-31   0.42
34  2013-12-31   0.52
35  2013-09-30   0.30
36  2013-06-30   0.27
37  2013-03-31   0.36
38  2012-12-31   0.49
39  2012-09-30   0.31
40  2012-06-30   0.33
41  2012-03-31   0.44
42  2011-12-31   0.50
43  2011-09-30   0.25
44  2011-06-30   0.28
45  2011-03-31   0.23
46  2010-12-31   0.23
47  2010-09-30   0.17
48  2010-06-30   0.13
49  2010-03-31   0.12
50  2009-12-31   0.13
51  2009-09-30   0.10
52  2009-06-30   0.07
53  2009-03-31   0.06

In [16]:
lis

[3, 4, 5]