In [9]:
import pandas as pd

In [10]:
eps_21_03 = pd.read_csv('../results/selected_ticker_by_eps_2021-03-31.csv')
eps_21_06 = pd.read_csv('../results/selected_ticker_by_eps_2021-06-30.csv')
eps_21_09 = pd.read_csv('../results/selected_ticker_by_eps_2021-09-30.csv')
eps_21_12 = pd.read_csv('../results/selected_ticker_by_eps_2021-12-31.csv')
eps_22_03 = pd.read_csv('../results/selected_ticker_by_eps_2022-03-31.csv')
eps_22_06 = pd.read_csv('../results/selected_ticker_by_eps_2022-06-30.csv')

In [11]:
eps_21_03_fixed = eps_21_03[eps_21_03.eps_g1 < 1]
eps_21_03_fixed.index = range(len(eps_21_03_fixed))
eps_21_03_fixed.to_csv('selected_ticker_by_eps_21_03_fixed.csv')

In [12]:
eps_21_06_fixed = eps_21_06[eps_21_06.eps_g1 < 1]
eps_21_06_fixed.index = range(len(eps_21_06_fixed))
eps_21_06_fixed.to_csv('selected_ticker_by_eps_21_06_fixed.csv')

In [13]:
eps_21_09_fixed = eps_21_09[eps_21_09.eps_g1 < 1]
eps_21_09_fixed.index = range(len(eps_21_09_fixed))
eps_21_09_fixed.to_csv('selected_ticker_by_eps_21_09_fixed.csv')

In [14]:
eps_21_12_fixed = eps_21_12[eps_21_12.eps_g1 < 1]
eps_21_12_fixed.index = range(len(eps_21_12_fixed))
eps_21_12_fixed.to_csv('selected_ticker_by_eps_21_12_fixed.csv')

In [15]:
eps_22_03_fixed = eps_22_03[eps_22_03.eps_g1 < 1]
eps_22_03_fixed.index = range(len(eps_22_03_fixed))
eps_22_03_fixed.to_csv('selected_ticker_by_eps_22_03_fixed.csv')

In [16]:
eps_22_06_fixed = eps_22_06[eps_22_06.eps_g1 < 1]
eps_22_06_fixed.index = range(len(eps_22_06_fixed))
eps_22_06_fixed.to_csv('selected_ticker_by_eps_22_06_fixed.csv')

In [ ]:
eps_21_06_fixed
eps_21_09_fixed
eps_21_12_fixed
eps_22_03_fixed
eps_22_06_fixed

In [18]:
eps_21_03_fixed

   ticker    eps_g1    eps_g2    eps_g3
0    ADBE  0.996276  0.942261  0.491646
1     AOS  0.875000  0.327273  0.226415
2    ARVN  0.629310  0.610792  0.322391
3     BAH  0.454545  0.303797  0.225000
4    BLNK  0.954545  0.736364  0.211111
5    CFFI  0.959184  0.710937  0.309859
6     CHE  0.468510  0.456776  0.394772
7     CLH  0.857143  0.666667  0.523077
8     DHI  0.946154  0.844828  0.664179
9    FBHS  0.636364  0.581081  0.560000
10   FDBC  0.637681  0.535211  0.237500
11   FNWD  0.423913  0.409091  0.298077
12   GBCI  0.633590  0.420204  0.251510
13    GGG  0.452381  0.367347  0.346939
14    HLI  0.945556  0.840000  0.230769
15    HSY  0.472868  0.404040  0.389610
16    IAA  0.636364  0.382353  0.258065
17   IBKR  0.933333  0.448276  0.288889
18   IDXX  0.867996  0.638594  0.282850
19   IESC  0.743590  0.499145  0.313248
20   INBK  0.693548  0.541667  0.365079
21   IROQ  0.440860  0.416667  0.291667
22     KB  0.925676  0.846154  0.246073
23   KNSA  0.500000  0.490909  0.346939
24    LFT  0.916667  0.555556  0.222222
25    LKQ  0.872340  0.311111  0.280000
26    LOW  0.897226  0.319853  0.208391
27   LRCX  0.823702  0.773335  0.577883
28   LSPD  0.964286  0.916667  0.833333
29    MCB  0.986111  0.478723  0.411111
30   META  0.929825  0.517647  0.278302
31    MLI  0.626745  0.383830  0.230769
32   MSFT  0.450000  0.344371  0.318841
33   NBHC  0.720000  0.419355  0.304348
34    NIC  0.785714  0.482759  0.228571
35   ODFL  0.531532  0.352941  0.248175
36     PM  0.324786  0.223301  0.213115
37   REGN  0.858195  0.455988  0.261092
38    SCL  0.474576  0.382979  0.288288
39    SHW  0.489855  0.455285  0.264808
40   SNPS  0.746479  0.537313  0.245098
41    TLK  0.609395  0.521483  0.208625
42   TWLO  0.823529  0.695652  0.234375
43     UI  0.924242  0.720280  0.435644
44   VERY  0.853448  0.692982  0.545924
45   VIPS  0.716667  0.638889  0.257310
46     WD  0.567089  0.563540  0.330205

In [27]:
from sqlalchemy import create_engine
price_engine = create_engine('sqlite:///../../../../dataset/us/us_ticker_price_yf.db')
ticker_list = eps_21_03_fixed.ticker.to_list()
for ticker in ticker_list:
    try:
        price_df = pd.read_sql('{}'.format(ticker), con=price_engine)
    except:
        print('{} not exits'.format(ticker))

In [21]:
import yfinance as yf
ticker_str = 'FDBC FNWD NIC'
data = yf.download(
    tickers = ticker_str,
    period = '5y',
    interval = '1d',
    group_by = 'ticker',
    auto_adjust = True,
    treads = True
)

[*********************100%***********************]  3 of 3 completed

In [24]:
ticker_temp_list = ['FDBC','FNWD','NIC']

In [ ]:
for ticker in ticker_temp_list:
    df = data['{}'.format(ticker)]
    df['datetime'] = df.index
    df.to_sql('{}'.format(ticker), con=price_engine, if_exists='replace', index=None)

In [57]:
test_result = pd.DataFrame(columns=['No.','profit_avg_60','profit_avg_90','profit_avg_120','decline_avg_60','declince_avg_90','decline_avg_120'])
test_result

Empty DataFrame
Columns: [No., profit_avg_60, profit_avg_90, profit_avg_120, decline_avg_60, declince_avg_90, decline_avg_120]
Index: []

In [58]:
temp = pd.DataFrame([[0,1,2,2,3,3,1]],columns=['No.','profit_avg_60','profit_avg_90','profit_avg_120','decline_avg_60','declince_avg_90','decline_avg_120'])
temp

,No.,profit_avg_60,profit_avg_90,profit_avg_120,decline_avg_60,declince_avg_90,decline_avg_120
0,0,1,2,2,3,3,1

In [ ]:
from tqdm import tqdm

In [ ]:
test_result = pd.DataFrame(columns=['profit_avg_60','profit_avg_90','profit_avg_120','decline_avg_60','declince_avg_90','decline_avg_120'])
for i in tqdm(range(10000)):
    samples = eps_21_03_fixed.sample(3)
    samples_list = samples.ticker.to_list()
    # store the data 
    profit_avg_60 = 0.0
    profit_avg_90 = 0.0
    profit_avg_120 = 0.0
    decline_avg_60 = 0.0
    decline_avg_90 = 0.0
    decline_avg_120 = 0.0
    for sample in samples_list:
        try:
            # print(sample)
            sample_price_df = pd.read_sql('{}'.format(sample), con=price_engine)
            start_index = sample_price_df[sample_price_df.datetime == '2021-03-03'].index.values[0]
            start_price = sample_price_df[sample_price_df.datetime == '2021-03-03'].close.values[0]
            if start_price < 12:
                break
            else:
                sample_price_df = sample_price_df[start_index:]
                sample_price_df.index = range(len(sample_price_df))
                # 
                max_60 = sample_price_df[0:43].close.max()
                min_60 = sample_price_df[0:43].close.min()
                max_90 = sample_price_df[0:65].close.max()
                min_90 = sample_price_df[0:65].close.min()
                max_120 = sample_price_df[0:85].close.max()
                min_120 = sample_price_df[0:85].close.min()
                # print(start_price,max_60,max_90,max_120)
                # 
                profit_60 = (max_60 - start_price) / start_price
                profit_90 = (max_90 - start_price) / start_price
                profit_120 = (max_120 - start_price) / start_price
                decline_60 = (min_60 - start_price) / start_price
                decline_90 = (min_90 - start_price) / start_price
                decline_120 = (min_120 - start_price) / start_price
                # print(profit_60,profit_90,profit_120)
                # 
                profit_avg_60 += profit_60
                profit_avg_90 += profit_90
                profit_avg_120 += profit_120
                decline_avg_60 += decline_60
                decline_avg_90 += decline_90
                decline_avg_120 += decline_120
        except:
            print('{} is wrong, result invalued'.format(sample))
            break
    profit_avg_60 = profit_avg_60 / 3
    profit_avg_90 = profit_avg_90 / 3
    profit_avg_120 = profit_avg_120 / 3
    decline_avg_60 = decline_avg_60 / 3
    decline_avg_90 = decline_avg_90 / 3
    decline_avg_120 = decline_avg_120 / 3
    temp = pd.DataFrame([[profit_avg_60,profit_avg_90,profit_avg_120,decline_avg_60,decline_avg_90,decline_avg_120]],columns=['profit_avg_60','profit_avg_90','profit_avg_120','decline_avg_60','declince_avg_90','decline_avg_120'])
    test_result = pd.concat([test_result, temp],ignore_index=True)
test_result.to_csv('selection_eps_test_result.csv',index=None)

In [82]:
test_result

,profit_avg_60,profit_avg_90,profit_avg_120,decline_avg_60,declince_avg_90,decline_avg_120
0,0.127475,0.152226,0.154374,-0.038078,-0.038078,-0.038106

In [62]:
# test_result = pd.DataFrame(columns=['No.','profit_avg_60','profit_avg_90','profit_avg_120','decline_avg_60','declince_avg_90','decline_avg_120'])
test_result

,No.,profit_avg_60,profit_avg_90,profit_avg_120,decline_avg_60,declince_avg_90,decline_avg_120
0,0,-0.541304,-0.54125,-0.374494,-0.670486,-0.695264,-0.695264
1,1,-0.406688,-0.399339,-0.39789,-0.501261,-0.502192,-0.505547
2,0,-0.859803,-0.849835,-0.837825,-0.909357,-0.909418,-0.909418
3,1,-0.867847,-0.867552,-0.857407,-0.881133,-0.881133,-0.881133
4,2,1.315137,1.808055,1.81495,0.65589,0.655828,0.655828
5,0,-0.917143,-0.911991,-0.905104,-0.934526,-0.934526,-0.934526
6,1,-0.488714,-0.480178,-0.480178,-0.506652,-0.507169,-0.513233
7,2,-0.33316,-0.333155,-0.333155,-0.333201,-0.333201,-0.333201
8,3,-0.471033,-0.471033,-0.471033,-0.488523,-0.489463,-0.490158
9,4,26.05189,26.540506,26.540506,14.080817,14.080817,0.961497
10,5,1.55214,2.040118,2.202384,0.826978,0.818703,0.818703
11,6,-0.729577,-0.729516,-0.729484,-0.753371,-0.753371,-0.753752
12,7,-0.818025,-0.813132,-0.798964,-0.843303,-0.843303,-0.843303
13,8,-0.646694,-0.646435,-0.644818,-0.64968,-0.649713,-0.649713
14,9,-0.285224,-0.156263,-0.108947,-0.403159,-0.403159,-0.403159

In [28]:
samples = eps_21_03_fixed.sample(3)
samples

   ticker    eps_g1    eps_g2    eps_g3
46     WD  0.567089  0.563540  0.330205
23   KNSA  0.500000  0.490909  0.346939
45   VIPS  0.716667  0.638889  0.257310

In [71]:
sample_price_df = pd.read_sql('{}'.format('CLH'), con=price_engine)
sample_index = sample_price_df[sample_price_df.datetime == '2021-03-02'].index.values[0]
sample_price_df = sample_price_df[sample_index:]
sample_price_df[0:43].close.max()

90.19999694824219

134.83999633789062

In [45]:
sample_price_df[sample_price_df.datetime == '2021-05-03']

,open,hgih,low,close,Adj Close,volume,datetime
43,132.039993,134.070007,131.830002,132.539993,131.563583,75135100,2021-05-03

In [50]:
sample_price_df[sample_price_df.datetime == '2021-06-03'].close.values[0]

123.54000091552734

In [47]:
sample_price_df[sample_price_df.datetime == '2021-09-03']

,open,hgih,low,close,Adj Close,volume,datetime
130,153.759995,154.630005,153.089996,154.300003,153.653336,57808700,2021-09-03

In [48]:
sample_price_df[sample_price_df.datetime == '2022-03-03']

,open,hgih,low,close,Adj Close,volume,datetime
254,168.470001,168.910004,165.550003,166.229996,165.986115,76678400,2022-03-03