In [13]:
# Pandas
import pandas as pd
import talib as ta
import numpy as np
from sqlalchemy import create_engine
from get_score import get_score_ch
engine= create_engine('sqlite:///../../dataset/ch/total_ch_baostock.db')

df = pd.read_sql('600346.SH',engine).loc[::-1]
df.index = range(len(df))
df.rename(columns={'vol':'volume'},inplace=True)

score_df = get_score_ch(df)

score_df.to_csv('score_恒力石油.csv',index=False)

In [20]:
# Pandas
import pandas as pd
import talib as ta
import numpy as np
from sqlalchemy import create_engine
from get_score import get_score_ch
engine= create_engine('sqlite:///../../dataset/ch/total_ch_baostock.db')

df = pd.read_sql('600346.SH',engine).loc[::-1]
df.index = range(len(df))
df.rename(columns={'vol':'volume'},inplace=True)

In [21]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,volume,amount
0,600346.SH,20010820,19.80,19.80,18.25,19.05,5.36,13.69,255.4100,268435.43,511813.373
1,600346.SH,20010821,18.88,19.26,18.60,18.65,19.05,-0.40,-2.1000,75712.03,143174.940
2,600346.SH,20010822,18.60,19.18,18.38,19.04,18.65,0.39,2.0900,64250.24,120834.624
3,600346.SH,20010823,18.99,19.06,18.69,18.84,19.04,-0.20,-1.0500,25863.30,48847.865
4,600346.SH,20010824,18.90,18.99,17.46,17.65,18.84,-1.19,-6.3200,60539.15,109940.955
...,...,...,...,...,...,...,...,...,...,...,...
4709,600346.SH,20220706,22.00,22.10,21.49,21.72,21.95,-0.23,-1.0478,181965.93,395093.200
4710,600346.SH,20220707,21.76,21.82,21.17,21.26,21.72,-0.46,-2.1179,265265.99,566819.040
4711,600346.SH,20220708,21.29,21.58,21.22,21.26,21.26,0.00,0.0000,112118.54,239267.044
4712,600346.SH,20220711,21.21,21.98,20.86,21.59,21.26,0.33,1.5522,271994.31,587020.664
4713,600346.SH,20220712,21.50,21.68,21.10,21.23,21.59,-0.36,-1.6674,164245.63,350713.005