In [5]:
# Pandas
import pandas as pd
import talib as ta
import numpy as np
from sqlalchemy import create_engine
from get_score import get_score_ch
engine= create_engine('sqlite:///../../dataset/us/us_ticker_price_yf.db')

# 我们选取近十年的
df = pd.read_sql('TSLA',engine)
df

,open,hgih,low,close,Adj Close,volume,datetime
0,3.800000,5.000000,3.508000,4.778000,4.778000,93831500,2010-06-29
1,5.158000,6.084000,4.660000,4.766000,4.766000,85935500,2010-06-30
2,5.000000,5.184000,4.054000,4.392000,4.392000,41094000,2010-07-01
3,4.600000,4.620000,3.742000,3.840000,3.840000,25699000,2010-07-02
4,4.000000,4.000000,3.166000,3.222000,3.222000,34334500,2010-07-06
...,...,...,...,...,...,...,...
3027,727.000000,764.940002,723.479980,752.289978,752.289978,33343700,2022-07-08
3028,756.309998,759.190002,700.880005,703.030029,703.030029,33080400,2022-07-11
3029,710.539978,719.320007,685.109985,699.210022,699.210022,29310300,2022-07-12
3030,676.500000,726.179993,675.099976,711.119995,711.119995,32651500,2022-07-13
3031,704.690002,715.960022,688.000000,714.940002,714.940002,26069500,2022-07-14

In [6]:
df.rename(columns={'hgih':'high'},inplace=True)
score_df = get_score_ch(df)
score_df.to_csv('TSLA_score.csv',index=False)

c:\Users\Rain\Dropbox\My PC (DESKTOP-EC6QP18)\Desktop\Trade\ticker_analysis\us\get_score.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.vscore.loc[i] = (1 - (df.loc[i].volume / df.loc[i]['VMA 50'])) * 10
c:\Users\Rain\Dropbox\My PC (DESKTOP-EC6QP18)\Desktop\Trade\ticker_analysis\us\get_score.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.score.loc[i] = score
c:\Users\Rain\Dropbox\My PC (DESKTOP-EC6QP18)\Desktop\Trade\ticker_analysis\us\get_score.py:162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.score.loc[i] = score
c:\Users\Rain\Dropbox\My PC (DESKTOP-EC6QP18)\Desktop\Trade\ticker_analysis\us\get_score.py:162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.score.loc[i] = score