In [1]:
import backtrader as bt
import pandas as pd
import numpy as np
# from get_score import get_score_ch
from sqlalchemy import create_engine
import talib as ta
import datetime
import pandas as pd

engine= create_engine('sqlite:///../../dataset/us/us_ticker_price_yf.db')

In [9]:
ticker = 'INTC'
hist = pd.read_sql(ticker, engine)
hist.rename(columns={'hgih':'high'},inplace=True)
# hist['chg_pct'] = ((hist.close - hist.open)/hist.open)*100
hist['close'] = hist['close'].apply(lambda x: round(x,3))
# temp = hist.tail(1)
temp = pd.DataFrame()
temp['symbol'] = 'symbol'
temp['datetime'] = hist.tail(1).datetime
temp.symbol = ticker
temp.index = range(len(temp))

In [11]:
hist = hist.tail(500)

In [12]:
hist

,open,high,low,close,Adj Close,volume,datetime
10173,61.520000,61.930000,60.439999,60.70,57.447205,19803700,2020-07-21
10174,61.310001,61.770000,60.619999,61.05,57.778450,18959900,2020-07-22
10175,61.259998,61.740002,59.980000,60.40,57.163280,43518600,2020-07-23
10176,52.150002,52.180000,49.500000,50.59,47.878983,182269900,2020-07-24
10177,51.029999,51.139999,49.470001,49.57,46.913639,107526500,2020-07-27
...,...,...,...,...,...,...,...
10668,37.660000,38.139999,37.389999,37.99,37.990002,22554800,2022-07-08
10669,37.660000,37.669998,37.029999,37.20,37.200001,25904300,2022-07-11
10670,37.650002,37.700001,36.990002,37.21,37.209999,30546300,2022-07-12
10671,36.680000,37.430000,36.619999,37.21,37.209999,27059200,2022-07-13
10672,36.990002,38.160000,36.290001,37.71,37.709999,36676700,2022-07-14

In [13]:
%%timeit
timeperiods = [10,20,50,150,200]
vol_timeperiods = [20,50]
for period in timeperiods:
    hist['MA{}'.format(period)] = ta.SMA(hist.close)
for period in vol_timeperiods:
    hist['VMA{}'.format(period)] = ta.SMA(hist.volume)

769 µs ± 53.3 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [14]:
hist

,open,high,low,close,Adj Close,volume,datetime,MA10,MA20,MA50,MA150,MA200,VMA20,VMA50
10173,61.520000,61.930000,60.439999,60.70,57.447205,19803700,2020-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10174,61.310001,61.770000,60.619999,61.05,57.778450,18959900,2020-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10175,61.259998,61.740002,59.980000,60.40,57.163280,43518600,2020-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10176,52.150002,52.180000,49.500000,50.59,47.878983,182269900,2020-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10177,51.029999,51.139999,49.470001,49.57,46.913639,107526500,2020-07-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10668,37.660000,38.139999,37.389999,37.99,37.990002,22554800,2022-07-08,39.711000,39.711000,39.711000,39.711000,39.711000,3.553021e+07,3.553021e+07
10669,37.660000,37.669998,37.029999,37.20,37.200001,25904300,2022-07-11,39.544333,39.544333,39.544333,39.544333,39.544333,3.551759e+07,3.551759e+07
10670,37.650002,37.700001,36.990002,37.21,37.209999,30546300,2022-07-12,39.335333,39.335333,39.335333,39.335333,39.335333,3.557491e+07,3.557491e+07
10671,36.680000,37.430000,36.619999,37.21,37.209999,27059200,2022-07-13,39.090667,39.090667,39.090667,39.090667,39.090667,3.545844e+07,3.545844e+07
10672,36.990002,38.160000,36.290001,37.71,37.709999,36676700,2022-07-14,38.867000,38.867000,38.867000,38.867000,38.867000,3.531061e+07,3.531061e+07

In [15]:
temp

  symbol    datetime
0   INTC  2022-07-14

In [26]:
hist

,open,high,low,close,Adj Close,volume,datetime,MA10,MA20,MA50,MA150,MA200,VMA20,VMA50
10173,61.520000,61.930000,60.439999,60.70,57.447205,19803700,2020-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10174,61.310001,61.770000,60.619999,61.05,57.778450,18959900,2020-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10175,61.259998,61.740002,59.980000,60.40,57.163280,43518600,2020-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10176,52.150002,52.180000,49.500000,50.59,47.878983,182269900,2020-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10177,51.029999,51.139999,49.470001,49.57,46.913639,107526500,2020-07-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10668,37.660000,38.139999,37.389999,37.99,37.990002,22554800,2022-07-08,39.711000,39.711000,39.711000,39.711000,39.711000,3.553021e+07,3.553021e+07
10669,37.660000,37.669998,37.029999,37.20,37.200001,25904300,2022-07-11,39.544333,39.544333,39.544333,39.544333,39.544333,3.551759e+07,3.551759e+07
10670,37.650002,37.700001,36.990002,37.21,37.209999,30546300,2022-07-12,39.335333,39.335333,39.335333,39.335333,39.335333,3.557491e+07,3.557491e+07
10671,36.680000,37.430000,36.619999,37.21,37.209999,27059200,2022-07-13,39.090667,39.090667,39.090667,39.090667,39.090667,3.545844e+07,3.545844e+07
10672,36.990002,38.160000,36.290001,37.71,37.709999,36676700,2022-07-14,38.867000,38.867000,38.867000,38.867000,38.867000,3.531061e+07,3.531061e+07

In [24]:
# origin editon
# condition1: close > MA50 > MA150 > MA200 
# condition2: close > max(52week_low * 1.25, 52week_high*0.75)
# condition3: rs

temp['con1'] = 0
temp['con2'] = 0
if tail.iloc[0].close > tail.iloc[0].MA50 > tail.iloc[0].MA150 > tail.iloc[0].MA200:
    temp['con1'] = 1
# improve editon
# condition1: close>20 MA10>MA50 MA20>MA200 MA50>MA200
# condition2: 
if tail.iloc[0].MA150 > tail.iloc[0].MA20 and tail.iloc[0].MA10 > tail.iloc[0].MA50 and tail.iloc[0].MA20 > tail.iloc[0].MA200 and tail.iloc[0].MA50 > tail.iloc[0].MA200:
    temp['con2'] = 1

In [25]:
temp

  symbol    datetime  con1  con2
0   INTC  2022-07-14     0     0

In [29]:
## 52 week high and low
one_year_high = hist.tail(365).close.max()
one_year_low = hist.tail(365).close.min()
## 60 day high and low
sixty_day_high = hist.tail(60).close.max()
sixty_day_low = hist.tail(60).close.min()
# 创建单个ticker的row
temp = pd.DataFrame()
temp['symbol'] = 'symbol'
temp['datetime'] = hist.tail(1).datetime
temp.symbol = ticker

# origin editon
# condition1: close > MA50 > MA150 > MA200 
# condition2: close > max(52week_low * 1.25, 52week_high*0.75)
# condition3: rs
temp['con1'] = 0
temp['con2'] = 0
if hist.iloc[-1].close > hist.iloc[-1].MA50 > hist.iloc[-1].MA150 > hist.iloc[-1].MA200:
    temp['con1'] = 1
# improve editon
# condition1: close>20 MA10>MA50 MA20>MA200 MA50>MA200
# condition2: 
if hist.iloc[-1].MA150 > hist.iloc[-1].MA20 and hist.iloc[-1].MA10 > hist.iloc[-1].MA50 and hist.iloc[-1].MA20 > hist.iloc[-1].MA200 and hist.iloc[-1].MA50 > hist.iloc[-1].MA200:
    temp['con2'] = 1

# 52 week high and low
# 注：为1就是好的
if hist.iloc[-1].close >= one_year_high *0.75:
    temp['52-week-high-zone'] = 1
else: 
    temp['52-week-high-zone'] = 0
if hist.iloc[-1].close >= one_year_low * 1.25:
    temp['52-week-low-zone'] = 1
else:
    temp['52-week-low-zone'] = 0
if hist.iloc[-1].close > sixty_day_high *0.9:
    temp['60-day-high-zone'] = 1
else:
    temp['60-day-high-zone'] = 0
if hist.iloc[-1].close > sixty_day_low * 1.1:
    temp['60-day-low-zone'] = 1
else:
    temp['60-day-low-zone'] = 0

In [30]:
temp

,symbol,datetime,con1,con2,52-week-high-zone,52-week-low-zone,60-day-high-zone,60-day-low-zone
10672,INTC,2022-07-14,0,0,0,0,0,0