In [1]:
import numpy as np 
import pandas as pd 
from sqlalchemy import create_engine
from config import price_path_jup

In [13]:
price_engine = create_engine('sqlite:///../../dataset/us/us_ticker_seven_year_price.db')
df = pd.read_sql('AAPL',con=price_engine)
df

            Open        High         Low       Close       Volume    datetime
0      25.678424   25.744624   25.119156   25.194487  212935600.0  2015-09-03
1      24.874909   25.212752   24.769904   24.943390  199985200.0  2015-09-04
2      25.509503   25.694403   25.183072   25.637335  219374400.0  2015-09-08
3      25.968326   26.027675   25.057516   25.144260  340043200.0  2015-09-09
4      25.171659   25.858761   25.087199   25.696688  251571200.0  2015-09-10
...          ...         ...         ...         ...          ...         ...
1758  161.149994  162.899994  159.820007  161.380005   73314000.0  2022-08-29
1759  162.130005  162.559998  157.720001  158.910004   77906200.0  2022-08-30
1760  160.309998  160.580002  157.139999  157.220001   87991100.0  2022-08-31
1761  156.639999  158.419998  154.669998  157.960007   74229900.0  2022-09-01
1762  159.750000  160.360001  154.970001  155.809998   76905200.0  2022-09-02

[1763 rows x 6 columns]